@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #0b0f14;
  --text: #edf2f7;
}

html, body {
  height: 100%;
}

body {
  color: var(--text);
  background: var(--bg);
}

.container {
  @apply max-w-6xl mx-auto px-4;
}
